parser/node_modules/*
parser/if.json
parser/coverage/*
parser/built/*
parser/src/graphs/*

instrumentation/node_modules/*

virtual_py/*

neo4j-custom/.config
neo4j-custom/import.report
neo4j-custom/neo4j_start.txt
neo4j-custom/neo4j_stop.txt
neo4j-custom/neo4j_import.txt
neo4j-custom/import-files/*

graphjs-results
import.report 

__pycache__/
venv/

node_modules*

.vscode/
.idea/
*.iml
.DS_Store

tests/output
diff.output
